@page "/"
@using PokeCodexBlazor
@inject PokemonService PokemonService


<PageTitle>Pokecodex</PageTitle>

@* <h1>Pokemon List</h1> *@
<div style="margin-bottom: 15px;">
    <h5>Search</h5>
    <div class="d-inline">
        <input type="text"/>
        <button onclick="">Search</button>
    </div>
</div>
<div>
    <p>Pokemon types:</p>
  
</div>
@if (_pokemons == null)
{
    <p>Loading...</p>
}
else
{
        @foreach (var pokemon in _pokemons)
        {
            string gifFilePath = $"/images/pokemon/{pokemon.Name}.gif";
            
            string cardBackGroundColor = "";
            switch (pokemon.Type1)
            {
                case "Water":
                    cardBackGroundColor += "blue";
                    break;
                case "Grass":
                    cardBackGroundColor += "lightGreen";
                    break;
                case "Normal":
                    cardBackGroundColor += "lightBlue";
                    break;
                case "Fire":
                    cardBackGroundColor += "red";
                    break;
                case "Bug":
                    cardBackGroundColor += "darkGreen";
                    break;
                case "Poison":
                    cardBackGroundColor += "purple";
                    break;
                case "Ground":
                    cardBackGroundColor += "saddleBrown";
                    break;
                case "Psychic":
                    cardBackGroundColor += "pink";
                    break;
                case "Fighting":
                    cardBackGroundColor += "lightGrey";
                    break;
                case "Rock":
                    cardBackGroundColor += "grey";
                    break;
                case "Electric":
                    cardBackGroundColor += "yellow";
                    break;
                case "Ghost":
                    cardBackGroundColor += "rebeccaPurple";
                    break;
                    
                    default:
                    cardBackGroundColor += "black";
                    break;
            }
            <div class="d-inline-block" style="background-color: black; border-radius: 5px; margin-top: 2%; margin-left: 5%; margin-bottom: 2%;">
            <div class="d-inline-block">
                <div class="card border-dark" style="width: 100px; height: 140px; margin: 10px; background-color: @cardBackGroundColor;">
                    <div class="d-flex justify-content-center" style="margin-top: 10px;border-bottom: 2px solid black">
                        <img src="@gifFilePath" width="60px" height="60px" onerror="this.src='/images/default.gif'; this.onerror=null;"/>
                    </div>
                    <div class="d-flex justify-content-center" style="padding-top: 25%">
                        <p style="color: black;">@pokemon.Name</p>
                    </div>
                    <div>
                        <a href="@PokemonUrl(pokemon.Id)" class="d-flex justify-content-center" role="button" style="color:white; font-size: 15px; background-color: black; margin-top: 5px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">
                            More Details
                        </a>
                    </div>
                </div>
                </div>
            </div>
        }
}

@code{

    private List<Pokemon> _pokemons = new List<Pokemon>();

    protected override async Task OnInitializedAsync()
    {
        _pokemons = await PokemonService.GetAllPokemonsAsync();
    }
    private static string PokemonUrl(int id) => $"/PokemonDetails/{id}";
};